# Configuration for DICOM Viewer and MWL

# Database configuration
# Can be an absolute path or just a filename (which will be stored next to the executable)
DATABASE_NAME=sample.db # ganti yang sesuai

# Web Server (Flask) configuration
WEB_HOST=0.0.0.0
WEB_PORT=5100

# Modality Worklist (MWL) DICOM Server configuration
MWL_HOST=0.0.0.0
MWL_PORT=5200
MWL_AE_TITLE=MWLSCP

# Logging Configuration (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL=INFO
